<h2 class="page-title font-english">"Welcome to the QuoteTodo"</h2>
<section class="about">
  <h3 class="heading-large font-english">About App</h3>
    <p>このアプリはタスク管理をしながら、モチベーションを向上させるための名言をお届けします。</p>
</section>

<section class="how-to">
  <h3 class="heading-large font-english">How to Use</h3>
</section>