<div class="center jumbotoron">
  <h1>Welcome to the Mery's todo App</h1>

  <%= link_to "Login", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Gesut Login", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
</div>
