<h2 class="page-title font-english">"Welcome to the QuoteTodo"</h2>
<div class="wrapper">
  <section class="about">
    <h3 class="heading-large font-english">About App</h3>
      <p>このアプリはタスク管理をしながら、モチベーションを向上させるための名言をお届けします。</p>
  </section>

  <section class="how-to">
    <h3 class="heading-large font-english">How to Use</h3>
      <h5>リストの作成をする</h5>
        <%= image_tag 'create_list.png', alt: 'ListCreate', class: 'description-img' %>
        <p>
          ログインをしたらまずは、＋ボタンをクリックしてリストの作成ページが開きます。<br>
          入力欄にリストのタイトルを入力しSaveを押すことで新規にリストが作成されます。
        </p>
      
      <h5>カードを作成する</h5>
  </section>
</div>
