<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="text-center">
    <h1>Welcome to the Mery's todo App</h1>
    <div class="d-flex flex-column align-items-center">
      <%= link_to "Login", '#', class: "btn btn-lg btn-primary m-2" %>
      <%= link_to "Guest Login", '#', class: "btn btn-lg btn-primary m-2" %>
      <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary m-2" %>
    </div>
  </div>
</div>