<h2 class="page-title font-english">"Welcome to the QuoteTodo"</h2>
<div class="wrapper">
  <section class="about">
    <h3 class="heading-large font-english">About App</h3>
      <p>このアプリはタスク管理をしながら、モチベーションを向上させるための名言をお届けします。</p>
  </section>

  <section class="how-to">
    <h3 class="heading-large font-english">How to Use</h3>
      <h5>リストを作成する</h5>
        <%= image_tag 'create_list.png', alt: 'リスト作成', class: 'description-img' %>
        <p>
          ログイン後、＋ボタンをクリックしリストの作成ページを開きます。<br>
          入力欄にリストのタイトルを入力しSaveを押すことで新規にリストが作成されます。
        </p>
      
      <h5>カードを作成する</h5>
        <%= image_tag 'create_card.png', alt: 'カード作成', class: 'description-img' %>
        <p>
          リストに表示されている『 + Add Card 』をクリックしカードの作成ページを開きます。<br>
          入力欄に各項目を入力しSaveを押すことでカードが作成されます。<br>
        </p>
      <h5>作成後のイメージ</h5>
        <%= image_tag 'list.png', alt: 'リスト・カード作成後イメージ', class: 'description-img' %>
        <p>
          それぞれタイトルと期日が表示され、期限切れのタスクにはカードに注意文が表示されます。
        </p>
      <h5>その他の機能</h5>
        <div class="grid">
          <div class="other-img">
            <img src="" alt="">
          </div>
        </div>
  </section>
</div>
