<div class='carddetailPage'>
  <div class="container">
    <div class="card_contents">
      <div class="card_contents_title">
        <div>タイトル</div>
        <h2><%= @card.title %></h2>
      </div>
      <div class="card_contents_memo">
        <div>メモ</div>
        <div><%= @card.memo %></div>
      </div>
      <div class="card_contents_listStatus">
        <div>リスト名</div>
        <div><%= @card.list.title %></div>
      </div>
    </div>
  </div>
</div>
