/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "top";
 @import "font-awesome";
 @import "pomodoro";

//  全体背景色
 body {
  background-color: #728d81;
 }
 /* ドロップダウンメニューの位置を調整 */
 .nav-item.dropdown .dropdown-menu {
  right: 0;
  left: auto;
 }

//  フォントの設定
 .font-english {
  font-family: 'Philosopher', sans-serif;
  font-weight: normal;
  color: #EBE9DF;
}
.font-japanese {
  color: #EBE9DF;
}

 /* GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

