// 見出し
.font-english {
  font-family: 'Philosopher', sans-serif;
  font-weight: normal;
}
.page-title {
  font-size: 3.5rem;
  text-align: center;
  margin-top: 6rem;
  line-height: 1.4;
}
.heading-large {
  margin-bottom: 1rem;
  text-align: center;
}

.section-title {
  background-color: #E0E0E0; /* 淡いブルー */
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 3rem;
}

.wrapper {
  max-width: 736px;
  padding: 0 1.5rem;
  margin: 3rem auto 4rem;
}
.about p {
  margin-bottom: 2rem;
}

// 画像
.description-img {
  max-width: 100%;
  margin: 1rem 0;
  border-radius: 8px;
}

.grid {
  display: grid;
  gap: 2rem 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
.other-function .description-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
}
.other-function h6 {
  font-weight: bolder;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
