<div class="listeditPage">
  <div class="container">
    <%= form_with model: @list, url: { action: :update }, class: "edit_list", local: true do |f| %>
      <% if @list.errors.any? %>
        <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
      <% end %>

      <div class="mb-3">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title, autofocus: true, class: "form-control listName", placeholder: "リスト名" %>
      </div>
      <div class="text-center">
        <%= f.submit "編集する", class: "btn btn-primary submitBtn" %>
      </div>
    <% end %>
  </div>
</div>
